<h1>Add a new contact</h1>

<form action="/contact/add" method="post">
  <label for="new-contact">Name: </label>
  <input id="new-contact" name="new-contact" type="text">

  <label for="add-phoneNumber">Phone number: </label>
  <input id="add-phoneNumber" name="add-phoneNumber" type="text">

  <label for="add-address">Address: </label>
  <input id="add-address" name="add-address" type="text">

  <button type="submit">Submit</button>
</form>

<p><a href="/">Return to main page.</a></p>
