<h1>Add a new contact</h1>
<form action="/contact/add" method="post">
  <label for="new-contact">Name: </label>
  <input id="new-contact" name="new-contact" type="text">
  <label for="add-phonenumber">Phone number: </label>
  <input id="add-phonenumber" name="add-phonenumber" type="text">
  <label for="add-address">Address: </label>
  <input id="add-address" name="add-address" type="text">
  <button type="submit">Submit</button>
</form>
