<h1>Add a new contact</h1>
<form action="/contact/new" method="post">
  <label for="new-contact">Name: </label>
  <input id="new-contact" name="new-contact" type="text">
  <button type="submit">Submit</button>
</form>
