<h1>Address Book</h1>
<h3><a href="/contact/new">Add a new contact</a></h3>

  <h3>No contacts have been added yet.</h3>

<form action ="/contacts/clear" method="post">
  <button type="submit" name="button">Clear all contacts</button>
</form>
